APP_ENV=production
APP_DEBUG=false
APP_KEY=!3c0mm3rc3!

DB_DRIVER=postgre
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=amtek_ecommerce
DB_USERNAME=postgres
DB_PASSWORD=secret

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

CACHE_DRIVER=array
QUEUE_DRIVER=sync