@import url('../../fonts/opensans/style.css');

$white: #FFF;
$black: #000;
$grey: #F8F8F8;
$grey-black: #DDDDDD;
$shadow: #D2C2C2;
$dark: #E7E7E7;
$aspalt: #243143;
$aspalt-light: #37474f;
$blue: #1489AC;
$orange: #FF4415;
$orange-light: #FF7D5D;

$margin: 5px;
$margin-top: 5px;
$margin-right: 5px;
$margin-bottom: 5px;
$margin-left: 5px;

$padding: 5px;
$padding-top: 5px;
$padding-right: 5px;
$padding-bottom: 5px;
$padding-left: 5px;

@mixin fonts($fonts){
  font-family: $fonts, sans-serif;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
       -o-border-radius: $border-radius;
}

@mixin transition($transition) {
  transition: all $transition ease-in-out;
  -webkit-transition: all $transition ease-in-out;
     -moz-transition: all $transition ease-in-out;
       -o-transition: all $transition ease-in-out;
}

// Start: 320px
@media (min-width: 320px) and (max-width: 360px) {

	.form-search {
		width: 100% !important;
		margin-bottom: $margin-bottom;
	}

}
// End: 360px

// Start: 360px
@media (min-width: 360px) and (max-width: 640px) {

	.form-search {
		width: 100% !important;
		margin-bottom: $margin-bottom;
	}
	
}
// End: 640px

// Start: 640px
@media (min-width: 640px) and (max-width: 992px) {

	.form-search {
		width: 100% !important;
		margin-bottom: $margin-bottom;
	}
	
}
// End: 992px

// 1280 >
// Start: 992px
@media (min-width: 992px) and (max-width: 1500px) {
	
}
// End: 1500px